@use "./mixins" as m;

.collectionContainer {
  max-width: 1728px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding: 0 2rem;
  margin-inline: auto;
  @include m.breakpoint("tablet") {
    grid-template-columns: 1fr;
  }
}
