@use "./mixins" as m;

.collectionContainer {
  max-width: 1728px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  margin-top: 10rem;
  gap: 1rem;
  padding: 0 2rem;
  @include m.breakpoint("tablet") {
    grid-template-columns: 1fr;
  }
}
