.productCard {
  width: 100%;
}
.productImage {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.productCaption {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Courier New", Courier, monospace;
}
.productTitle {
  font-size: 1.5rem;
  font-weight: 300;
}
.productPrice {
  font-size: 1.5rem;
}
.variantContainer {
  display: flex;
  gap: 5px;
  margin-top: 1rem;
}

.variant {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transition: border 0.15s ease;
  padding: 5px;
}

.variant:hover {
  border: 1px solid #333;
}
